.apidoc {
  font-size: 12px;
  .apidocs{
    margin-top:100px;
    margin-bottom:150px;
    background:#fff;
    .title{
        width:100%;
        height:40px;
        line-height:40px;
        background:#EEEEEE;
        color:#000;
        font-size:14px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        span{
          text-indent:54px;
        }
        a{
          display:block;
          width:60px;
          height:26px;
          line-height:26px;
          background:#FDDB1A;
          color:#643904;
          text-align:center;
          margin-right:54px;
        }
    }
    .api-tabs {
      width:100%;
      height:48px;
      line-height:48px;
      display:flex;
      text-indent:54px;
      border-bottom:1px solid #999999;
      li{
        cursor:pointer;
        span{
          color:#C4C4C4;
          font-size:12px;
        }
        .api-tation{
          color:#000;
          font-size:14px;
          margin-right:30px;
        }
      }
      .on{
        .api-tation{
          color:#5B3C03;
        }
      }
    }
    .api-box {
      .doctop {
      line-height: 45px;
      font-weight:bold;
      padding-left:50px;
      .api-tation{
        color:$blue-font-color;
      }
      .api-new {
        margin-left: 20px;
      }

      .api-down {
        float: right;
        font-size: 12px;
        color:$blue-font-color;
        margin-right: 20px;
      }
      }
    .doclist {
      span {
        display: inline-block;
        text-align: center;
        width: 500px;
        color:#000;
        font-size:14px;
        &:first-child{
          color:#989898;
        }
      }
      line-height: 35px;
      border-bottom: 1px solid $border-blue-color ;
    }
  }
  }
}