

.login-main {
  width:100%;
  height:100%;
  min-width: 1200px;
  float:left;
  .login-left{  
    float:left;
    width:50%;
    min-height:968px;
    background:linear-gradient(left, #16254E, right, #0E152F);
    position:relative;
    div{
      box-sizing:border-box;
      padding:0 10% 10% 5%;
      .top{
        line-height:114px;
        font-size:14px;
        a{
          color:#fff;
        }
      }
      .center{
        margin-top:50px;
        h1{
          font-size:46px;
          color:#293454;
          line-height:110px;
        }
        h2{
          font-size:34px;
          color:#fff;
          line-height:70px;
        }
        p{
          font-size:14px;
          color:#fff;
          line-height:30px;
        }
      }
    }
    .bottom{
      position:absolute;
      bottom:0;
      right:0;
      color: #fff;
    }
  }
  .login-left1{  
    float:left;
    width:50%;
    min-height:968px;
    div{
      box-sizing:border-box;
      padding:0 10% 10% 5%;
      height:100%;
      .top{
        line-height:100px;
        font-size:14px;
        a{
          color:#fff;
        }
      }
      .center{
        h1{
          font-size:20px;
          color:#AECAF1;
          line-height:140px;
        }
        span{
          display:block;
          width:5%;
          height:2px;
          background:#9ABAE3;
          margin-top:-30px;
        }
        h2{
          min-width:100%;
          font-size:56px;
          color:#fff;
          margin-top:60px;
        }
        p{
          font-size:14px;
          color:#fff;
          margin-top:40px;
        }
      }
    }
  }
  .login-main-cont {
    float:left;
    width:50%;
    min-height:968px;
    box-sizing:border-box;
    padding:0 10% 10% 10%;
    background:#fff;
    .index-login {
      margin: 50px auto 0;
      h3 {
        font-size: 44px;
        color:#111834;
        text-align:left;
        line-height:120px;
      }
      p {
        display: inline-block;
        line-height: 24px;
        font-size: 15px;
        height: 28px;
        cursor: pointer;
        color: $base-font-color;
      }
      .land {
        margin: 30px 0 20px 0;
        text-align: center;
        width: 49%;
        float: left;
        display: inline-block;
        .findactive {
          border-bottom: 2px solid $blue-font-color;
          color: $blue-font-color;
        }
      }
    }
    .loginBtn {
      width: 100%;
      margin: 65px auto 0 auto;
      display: block;
      font-size: 16px;
    }
    .readOnly {
      opacity: 0.4
    }
    .button_line {
      text-align: center;
      margin-top: 40px;
      .loginBtn {
        display: inline-block;
        margin: 0 10px;
      }
    }
  }
   .prom{
    text-align: right;
    padding: 20px 0;
    font-size: 14px;
    color: #000;
    i{
      color: #6D91FF;
    }
     a{
       i{
          color:#1962FF;
       }
      }
  }
  .robot-check-box {
    text-align: left;
    display: block;
    float: left;
    color: $base-font-color;
  }
  .robot-check {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 5px;
  }
  .error-info {
    color: $red-color;
  }
  .wgt-inlineInput {
    .certifcateNumber {
      .area-code {
        color: $base-font-color;
      }
    }
  }
}




.login-main1 {
  width:100%;
  height:100%;
  min-width: 1200px;
  background: url("../img/index/register.png") left bottom no-repeat;
  float:left;
  .login-left1{  
    float:left;
    width:50%;
    min-height:968px;
    
    div{
      box-sizing:border-box;
      padding:0 10% 10% 5%;
      height:100%;
      .top{
        line-height:100px;
        font-size:14px;
        a{
          color:#fff;
        }
      }
      .center{
        h1{
          font-size:20px;
          color:#AECAF1;
          line-height:140px;
        }
        span{
          display:block;
          width:5%;
          height:2px;
          background:#9ABAE3;
          margin-top:-30px;
        }
        h2{
          min-width:100%;
          font-size:56px;
          color:#fff;
          margin-top:60px;
        }
        p{
          font-size:14px;
          color:#fff;
          margin-top:40px;
        }
      }
    }
  }
  .login-main-cont {
    float:left;
    width:50%;
    min-height:968px;
    box-sizing:border-box;
    padding:0 10% 10% 10%;
    background:#fff;
    .index-login {
      margin: 50px auto 0;
      h3 {
        font-size: 44px;
        color:#111834;
        text-align:left;
        line-height:120px;
      }
      p {
        display: inline-block;
        line-height: 24px;
        font-size: 15px;
        height: 28px;
        cursor: pointer;
        color: $base-font-color;
      }
      .land {
        margin: 30px 0 20px 0;
        text-align: center;
        width: 49%;
        float: left;
        display: inline-block;
        .findactive {
          border-bottom: 2px solid $blue-font-color;
          color: $blue-font-color;
        }
      }
    }
    .loginBtn {
      width: 100%;
      margin: 65px auto 0 auto;
      display: block;
      font-size: 16px;
    }
    .readOnly {
      opacity: 0.4
    }
    .button_line {
      text-align: center;
      margin-top: 40px;
      .loginBtn {
        display: inline-block;
        margin: 0 10px;
      }
    }
  }
   .prom{
    text-align: right;
    padding: 20px 0;
    font-size: 14px;
    color: #000;
    i{
      color:#1962FF;
    }
    label{
      a{
        color:#1962FF;
      }
    }
  }
  .robot-check-box {
    text-align: left;
    display: block;
    float: left;
    color: $base-font-color;
  }
  .robot-check {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 5px;
  }
  .error-info {
    color: $red-color;
  }
  .wgt-inlineInput {
    .certifcateNumber {
      .area-code {
        color: $base-font-color;
      }
    }
  }
}