.dingdan{
  min-height: calc(100vh - 207px);
  .order{
    width:100%;
    height:100%;
    background:#F8FBFF;
    box-sizing:border-box;
    padding:30px 0 50px 0;
    .order-content {
      width: 1200px;
      margin: 0 auto;
      margin-bottom:50px;
      border-radius:4px;
      background:#fff;
      .top{
        width:100%;
        height:70px;
        display:flex;
            h1{
              height:70px;
              line-height:70px;
              background:#fff;
              color:#000;
              text-indent:24px;
              font-size:26px;
		      }
          .select-box  {
            display:flex;
            margin-left:100px;
            margin-right:10px;
            margin-top:20px;
            span{
              color:#5A380A;
              font-size:14px;
              margin-right:10px;
              margin-top:5px;
            }
            .wgt-inlineInput{
            width:110px;
            height:30px;
            .select-input{
              width:100%;
              height:100%;
              input{
                width:100%;
                height:100%;
                text-indent:15px;
              }
              .optionBox {
                top:30px;
                .select-option-box li.current {
                  color: #927963;
                  cursor: pointer;
                  background-color:#fff;
                }
                .select-option-box li{
                    width:110px;
                    height:40px;
                    line-height: 40px;
                    text-indent:15px;
                  &:hover{
                    background:#fff;
                    color:#663902;
                    background-color:#FDDB1A;
                  }
                }
              }
            }
            .icon-down{
              top:9px;
              right:5px;
            }
          }
  }
      }
    table {
          width: 100%;
          text-align: center;
          thead {
            border-bottom: 1px solid $border-blue-color ;
            font-size: 12px;
            text-align: center;
            line-height: 35px;
            tr {
                border-bottom: 0
            }
          }
          tbody{
            tr {
              line-height: 50px;
              .revokes{
                color:#734D20;
                cursor:pointer;
                &:hover{
                  color:$base-font-color;
                }
             }
             .directions{
              color:$sell-color	
             }
             .direction{
               color:$buy-color
             }
              .detai{
                color:#734D20;
                width: 130px;
                cursor :pointer;
                &:hover{
                  color:$base-font-color 
                }
              }
              .jiaoyi{
                cursor:pointer;  
               }
              .time{
                width: 200px;
                color:#B9B9B9;
                }
              nav {
                    width: 1093px;
                    margin: 0 auto;
                    border: 1px solid $border-blue-color;
                    border-top:0;
                    margin-bottom:10px;
              }
            }
            
          }
          #record {
               font-size: 18px;
               color:#000;
            }
          .details{
            width: 1095px;
            margin: 0 auto;
            background:#EFF6FF;
            border-left : 1px solid $border-blue-color;
            border-right : 1px solid $border-blue-color;
            position: relative;
            cursor:pointer;
            thead {
              border-bottom: 0
            }

            tr {
              line-height: 30px
              border-bottom: 0
            }
            tbody{
              border-bottom 1px solid  $border-blue-color;
            }
            .up-arrow{
              width: 7px;
              height: 7px;
              border-left:1px solid $border-blue-color ;
              border-top: 1px solid $border-blue-color ;
              position: absolute;
              top: -4px;
              right:10px;
              transform:rotate(45deg)
              background:#EFF6FF;
              }
            }
            .detailbot{
              margin-bottom:10px;
            }
        }
    /*.bgc-title {
      height: 68px;
      border-bottom: 1px solid $base-background-color
      padding-left: 36px;
      border-top:30px solid #F8FBFF;
      .nav {
        float: left;
        line-height: 66px;
        li {
          display: inline-block;
          float: left;
          padding: 0 10px;
          text-align: center;
          font-size: 16px;
          margin-right: 40px;
          cursor: pointer;
        }

        .oswitch {
          border-bottom: 2px solid $blue-font-color;
          color: $blue-font-color;
        }
      }

      .bgc-right {
        float: right;
        .select-box {
          float: left;
          margin-right: 15px;
          position:relative;
          top:12px;
        }

        ul{
          float: right;
          cursor: pointer;
          margin-right: 15px;
          .choice{
            padding-top: 12px;
            }
          li {
            float: left;
            width: 42px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            padding: 0 5px;
          }
          .option{
              width: 120px;
              text-align:left;
              text-indent:6px;
            }
        }
        .select-option-box {
          margin: 0
          float: none;
          li {
            float: none;
          }
        }
        .osw {
          border-bottom: 1px solid $blue-font-color;
          color: $blue-font-color;
          line-height: 40px;
          padding-top: 12px;
        }
        
      }
    }*/
    .venue {
      display: none;
      .venue-box {
        padding-bottom:20px;
        border-top:30px solid #F8FBFF;
        .bgc-right {
          float: right;
          margin-top:14px;
          .select-box {
            float: left;
            margin-right: 15px;
            position:relative;
            top:12px;
          }
        ul{
          float: right;
          cursor: pointer;
          margin-right: 15px;
          li {
            float: left;
            width: 70px;
            height: 28px;
            background:#EDEDED;
            line-height: 28px;
            text-align: center;
            padding: 0 5px;
            color:#000;
            font-size:14px;
          }
          .option{
              width: 120px;
              text-align:left;
              text-indent:6px;
            }
        }
        .select-option-box {
          margin: 0
          float: none;
          li {
            float: none;
          }
        }
        .osw {
          color: #60340F;
          line-height: 28px;
          background:#FDDB1A;
        }
      }
        .loading{
          width:30px;
          height:30px;
          margin 5% auto;
        }
        .loadings {
          width:30px;
          height:30px;
          margin 5% auto;
        }
        .venue-title {
          padding-left: 36px;
          height: 60px;
          line-height: 60px;
          border-bottom:1px solid #E0E0E0;
          span {
            display: inline-block;
            font-size: 14px;
            float: left;
            color:#000;
          }
          i {
            float: right;
            margin-right: 20px;
            cursor: pointer;
            font-size: 12px;
            color:$blue-font-color;
            cursor:pointer;
            &:hover{
              color:$base-font-color;
            }
          }
        }
      }
    }

    .outside {
      display: none;

      .outside-box {
        border-bottom: 28px solid $base-background-color;
      .loading{
          width:30px;
          height:30px;
          margin 5% auto;
        }
        .outside-title {
          padding-left: 36px;
          height: 40px;
          line-height: 40px;
          span {
            font-size: 14px;
            float: left;
          }

          i {
            float: right;
            margin-right: 20px;
            color: $blue-font-color ;
            cursor: pointer;
            font-size: 12px;
            &:hover{
              color:$base-font-color ;
            }
          }
        }
      }
    }

    .exhibition {
      display: block;
    }
    .no_record{
          height:100px;
          tr{
            line-height: 200px;
                      border-bottom:0;
          }
          }
  }
  }
}
  .select{
      height 42px;
      line-height: 42px;
    }
   .wgt-inlineInput .inline.select-input .area-arrow{
       width: 7px;
       height 7px;
       border-right:1px solid $blue-font-color;        
       border-bottom:1px solid $blue-font-color;
       top: 25px;
 }
 .wgt-inlineInput .inline.select-input .icon-down{
    // margin-top:10px;
 }
 .wgt-inlineInput .inline .select-option-box {
     width: 128px;
     }
     .wgt-inlineInput .inline .select-option-box li {
       padding: 0
       }
 .wgt-inlineInput .inline.select-input .area-arrow{
      width: 7px;
      height: 7px;
      border-right: 1px solid $blue-font-color;
      border-bottom: 1px solid $blue-font-color;
      top: 25px;
    }
   .wgt-inlineInput .inline .select-option-box{
      top:55px
    }
.error {
  float: left;
  margin-left: 50px;
  font-size:14px;
  color:#9B9B9B;
  input {
    float: left;
    width: 15px;
    height: 15px;
    margin: 22px 5px 0 0;
  }
}
.page{
  margin-bottom:20px;
}
.order-box .order-content .bgc-title .bgc-right .select-option-box {
    margin:0;
    float: none;
    width: 100%;
    li {
      float: none;
      width: 100%;
    }
}